/* default for whole site */
html {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #e6e6fa;
}

h1 {
    font-family: 'News Cycle', sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 20% 0 0;
    color: gainsboro;
    /* overflow: visible; */
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: 1px;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
}

/* top navigation bar */
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25%;
    overflow: hidden;
    /* border: 1px solid #e7e7e7; */
    background-color: black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-bar li {
    /* float: left; */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-bar li a {
    display: block;
    color: rgb(240, 240, 240);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 20px;
    border-radius: 3px;
    padding-top: 28px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.nav-bar a:hover {
    background-color: rgba(163, 162, 162, 0.397);
    color: white;
}

.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: inline;
}

#name {
    float: left;
    font-family: 'Dawning of a New Day', cursive;
    font-size: 50px;
    font-weight: lighter;
    padding: 0%;
    padding-left: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0em;
}

/* no viewable action when hovered over name */
#name:hover {
    background-color: transparent;
}

/*
    Time line format.
*/
.container {
    /* Used to position the left vertical line */
    position: relative;
}

.container__line {
    /* Border */
    border-right: 2px solid #aaa;

    /* Positioned at the left */
    left: 16px;
    position: absolute;
    top: 0px;

    /* Take full height */
    height: 100%;
}

.container__items {
    /* Reset styles */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.container__item {
    margin-bottom: 8px;
}

.container__top {
    /* Center the content horizontally */
    align-items: center;
    display: flex;
}

.container__circle {
    /* Rounded border */
    background-color: rgb(170, 170, 170);
    border-radius: 9999px;

    /* Size */
    height: 32px;
    width: 32px;
}

.container__title {
    /* Take available width */
    flex: 1;
}

.container__desc {
    /* Make it align with the title */
    margin-left: 48px;
}

.timeline-header {
    margin-left: 1em;
}

.timeline-text {
    margin-left: 1em;
}

* {
    /* border: solid 1px red; */
}
