/**
 * @file    style.css
 * @author  Mustafa Siddiqui
 * @brief   CSS styling for personal website.
 *          Inspired by: https://nicolasgallagher.com
 */

:root {
    /* background colors */
    --light-lavender: #e6e6fa;
    --lavender: #d9d9fc;
    --dark-lavender: #c4c4fc;

    /* highlight colors */
    --blue: #069;

    /* font colors */
    --black: #222;
    --grey: #333;
    --light-grey: #757575;
}

html {
    color: var(--grey);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

body {
    background: ghostwhite;
    margin: 0
}

a,
a:visited {
    text-decoration: none;
    color: var(--light-grey);
}

a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: var(--light-grey);
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.2;
    margin: 0;
    margin-top: 2rem;
    color: var(--black);
}

h2,
h3,
h4,
mark {
    font-weight: 700
}

/* h1, */
h2,
h3,
h4 {
    color: var(--black);
    margin: 0 0 1.38888rem
}

h2,
h3,
h4 {
    margin: 0 0 27px
}

h4 {
    font-size: 1em
}

h2 {
    font-size: 1.55555em;
    margin-top: 54px;
    margin-top: 2.77777rem
}

h3 {
    font-size: 1.22222em
}

abbr[title] {
    border: 0
}

mark {
    color: #000;
    background-color: #fe6
}

abbr[title],
ins {
    text-decoration: none
}

small {
    font-size: .83333em
}

code,
kbd,
pre,
samp {
    font-family: consolas, monospace, x
}

pre {
    overflow-x: auto;
    padding: 1.25em !important;
    border: 1px solid #e6e6e6;
    border-left-width: 5px;
    margin: 0 0 1.38888rem !important;
    font-size: .88888em !important;
    white-space: pre
}

code,
kbd,
samp {
    font-size: 1em !important
}

pre code {
    color: #444
}

a code {
    color: inherit;
    background: 0 0
}

blockquote {
    padding: 0 10px 0 20px;
    border-left: 5px solid #ddd;
    color: #777
}

blockquote blockquote {
    border: 0
}

ul {
    list-style: square
}

blockquote,
ol,
p,
ul {
    margin: 1em 0.5em 1em 0.5em;
}

ol,
ul {
    padding: 0
}

ol li,
ul li {
    padding: 0;
    margin: 0 0 .7em
}

nav ol,
nav ul {
    list-style: none
}

@media screen and (max-width: 480px) {
    html {
        font-size: 16px
    }

    pre {
        padding: .75em
    }
}

@media screen and (min-width: 480px) {
    blockquote {
        margin-left: -25px
    }

    blockquote blockquote {
        margin-left: 0
    }
}

@media print {
    * {
        background: 0 0 !important;
        color: #000 !important
    }

    a,
    a:visited {
        border: 0;
        text-decoration: none
    }

    img {
        max-width: 100% !important;
        border: 0
    }

    blockquote,
    img,
    pre {
        page-break-inside: avoid
    }

    h1,
    h2,
    h3 {
        page-break-after: avoid
    }

    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
}

.Container {
    margin: 0 auto;
    max-width: 720px;
    padding: 0 20px;
    position: relative
}

@media screen and (max-width: 400px) {
    .Container {
        padding-left: 10px;
        padding-right: 10px
    }
}

.Content {
    margin: 1.4em 0
}

.Timestamp {
    color: var(--light-grey);
    display: inline-block;
    font-size: .75em
}

.Article-header {
    margin: 0 0 2em
}

.Article-body>p:first-child {
    font-size: 1.22222em
}

.Article-body img {
    display: block;
    max-width: 100%
}

.Article-body a {
    text-decoration: underline;
    text-decoration-skip: ink;
    color: var(--blue);
    padding-left: 2px;
    padding-right: 2px;
}

.Article-body a:focus,
.Article-body a:hover {
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: var(--blue);
    outline: 0;
    padding-left: 2px;
    padding-right: 2px;
}

@media print {
    .Article-body a[href] {
        text-decoration: none !important
    }

    .Article-body a[href]:after {
        content: " (" attr(href) ")"
    }
}

.Header {
    padding: 1.38888em 0;
    /* Make header sticky for laptop screens and bigger */
    @media ((min-width: 1025px) and (max-width: 1280px)) or (min-width: 1281px) {
        position: sticky;
        position: -webkit-sticky;
    }
    top: 0;
    z-index: 10;
}

.Header-logo {
    display: block;
    padding: 1.38888em 0 0 1.38888em;
    top: 0;
    z-index: 10;
}

.Header-logo a,
.Header-prompt {
    position: relative;
    white-space: nowrap
}

.Header-logo a {
    border: 0;
    border-radius: 100%;
    display: inline-block;
    width: 50px;
    margin: 0 auto;
    vertical-align: top
}

.Header-prompt {
    display: none;
    vertical-align: middle;
    padding: 5px;
    border-radius: 3px;
    background: #666;
    background: rgba(0, 0, 0, .5);
    margin-left: 15px;
    color: #fff;
    font-size: .8235em;
    text-align: center;
    line-height: 1.2
}

.Header-prompt:before {
    content: "";
    border-width: 5px 5px 5px 0;
    border-style: solid;
    border-color: transparent #666;
    border-color: transparent rgba(0, 0, 0, .5);
    position: absolute;
    top: 50%;
    left: -5px;
    margin-top: -5px
}

.Header-logo a:focus .Header-prompt,
.Header-logo a:hover .Header-prompt {
    display: inline-block
}

.Header-logo a:active,
.Header-logo a:focus,
.Header-logo a:hover {
    background: 0 0;
    box-shadow: 0 0 0 5px #eee
}

.Header-logo img {
    border-radius: 100%;
    vertical-align: middle;
    /* Move image to the left for laptop screens and bigger */
    @media ((min-width: 1025px) and (max-width: 1280px)) or (min-width: 1281px) {
        margin-top: 7.2%;
        margin-left: -30%;  
        float: left; 
    }
}

.Header-logo img:hover {
    box-shadow: 0 0 0 5px #c4c4fc;
}

.Header-logo-animation img {
    animation: enter 1s 1;
}

@keyframes enter {
    0% {
        transform: scale(0, 0.025);
    }
    50% {
        transform: scale(1, 0.025);
    }
}

.Footer {
    margin-top: 3em;
    color: #757575
}

.HzLine {
    background: #ddd;
    height: 1px;
    margin: 2.5em 0 1.38888em
}

.Copyright {
    font-size: xx-small;
    color: var(--light-grey);
    text-align: right;
}

.Icons a {
    text-decoration-skip: ink;
    color: var(--grey);
    padding-left: 2px;
    padding-right: 2px;
}

.Icons a:focus,
.Icons a:hover {
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    color: #ffff;
    background: var(--grey);
    outline: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
}

.List {
    list-style: none;
    margin: 0;
    padding: 0
}

.List-item {
    font-size: 1.1111em;
    line-height: 1.3;
    margin: .75em 0 .75em 0;
    padding: .75em 0 0
}

.List-text {
    margin: .75em .5em .75em .5em;
}

.List-timestamp {
    float: right;
    margin: .75em 0 .75em 20px
}

@media screen and (max-width: 340px) {
    .List-timestamp {
        float: none;
        display: block;
        margin: 0
    }
}

/* Not used currently */
.card-enclosure {
    background-color: var(--dark-lavender);
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 30px;
}

.card {
    background-color: var(--light-lavender);
    border-radius: 28px;
    padding: 20px;
    margin-bottom: 20px;
}

.full-black {
    color: #000;
    font-weight: 500;
}
